@page "/"
@using Newtonsoft.Json
@inject IJSRuntime JsRuntime

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="TestSerialisationException">Test SerializationException</button>


@code{
    protected async Task TestSerialisationException()
    {
        try
        {
            var myObj = await JsRuntime.InvokeAsync<MyClass>("testGetData");
        }
        catch (Exception ex)
        {
            string stringPostData = JsonConvert.SerializeObject(ex);
            Console.WriteLine(stringPostData);

            //on deserialise pour voir
            var castObj = JsonConvert.DeserializeObject<Exception>(stringPostData);
            Console.WriteLine("Deserialize is OK");
        }

    }

    class MyClass
    {
        public int Prop1 { get; set; }
    }
}
